
#tabelka{
    width:60%;
    margin-right: 20%;
    margin-left: 20%;
}

#table{
    width:60%;
    margin-right: 20%;
    margin-left: 20%;
}

.center {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}