@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');

h1{

    text-align: center;
    font-size: 4rem;
    font-family: 'Annie Use Your Telescope', cursive;
    margin-top:25px;

}
h2 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Titillium Web', sans-serif;
    margin:2%;

}

body {
    background-color: #babbce;

}

#photo {
    width: 48%;
    height: auto;
    margin-right:26%;
    margin-left:26%;
}

.center {
    text-align: center;
}

#comments {
    width:48%;
    background-color: aliceblue;
    margin-right:26%;
    margin-left:26%;
    margin-top:20px;
    margin-bottom:20px;


}

#forma {
    width:48%;
    margin-right:26%;
    margin-left:26%;
    margin-top:20px;
    margin-bottom:20px;
}

