@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');

h1{

    text-align: center;
    font-size: 4rem;
    font-family: 'Annie Use Your Telescope', cursive;
    margin-top:25px;

}

#back {
    margin-top: 20px;
}


#save {
    width:20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top:40px;
}

#form {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    width:40%;
    height:60%;
    padding:30px;
}

